body {
    background-image: url("https://i.imgur.com/LcFnJbr.png");
    background-size: cover;
    /*background-color: black;*/
}

/*.fadeIn { animation: fadeIn 5s; }*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.header h1 {
    width: 1000px;
    background-color: #023047;
    opacity: .5;
    margin: 50px auto;
    border-radius: 20px;
    font-weight: bold;
    font-size: 100px;
    color: white;
    border: 3px solid none;
    font-family: sans-serif;
    text-align: center;
}

#divbtn {
    margin: 0 auto;
    
}

#divbtn a {
    margin-left: 40px;
    margin-right: 40px;
}


.button {
    padding: 5px;
    -webkit-transition: background-color 1s linear;
    -webkit-transition: color 1s linear;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    color: lightblue;
    font-size: 80px;
    text-decoration: none;
    background-color: #023047;
    color: #ffb703 ;
    position: static;
    border-radius: 20px;
    border: 3px solid #8ecae6 ;
}

.button:hover {
    -webkit-transition: background-color 1s linear;
    -webkit-transition: color 1s linear;
    background-color: #8ecae6;
    color: #023047;
}